{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="email" 
                   placeholder="Harvard Email (@harvard.edu or @college.harvard.edu)" 
                   type="email" 
                   pattern="[a-zA-Z0-9._%+-]+@(harvard\.edu|college\.harvard\.edu)$" 
                   title="Please enter a valid Harvard email address (@harvard.edu or @college.harvard.edu)">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
